{{ $videoId := replaceRE `https://www.youtube.com/watch\?v=(.*)` "$1" . }}
{{ $videoInfoUrl := urlquery . }}
{{ $videoInfoUrl := printf "https://noembed.com/embed?dataType=json&url=%s" $videoInfoUrl}}
{{ $videoInfo := resources.GetRemote $videoInfoUrl }}
{{ $videoTitle := "Enregistrement" }}
{{ with $videoInfo }}
    {{ with .Err }}
        {{/* Silently handle error and use default title */}}
    {{ else }}
        {{ $videoData := $videoInfo.Content | transform.Unmarshal }}
        {{ $videoTitle = $videoData.title }}
    {{ end }}
{{ end }}

<a href="{{ . }}" title="Regarder l'enregistrement sur YouTube" target="_blank">
    <figure>
        <img src="https://img.youtube.com/vi/{{ $videoId }}/mqdefault.jpg" alt="Aperçu de l'enregistrement" />
        <figcaption>{{ $videoTitle }}</figcaption>
    </figure>
</a>
