{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}

	<div class="speaker-grid">
		{{- range .Pages }}
			{{- $speaker := . }}
			{{- $speakerFileName := .File.BaseFileName }}

			{{- /* Count events for this speaker */ -}}
			{{- $eventCount := 0 }}
			{{- range $.Site.Pages }}
				{{- if and (eq .Type "events") (strings.Contains .Content $speakerFileName) }}
					{{- $eventCount = add $eventCount 1 }}
				{{- end }}
			{{- end }}

			<div class="speaker-item">
				<a href="{{ .RelPermalink }}">
					{{ partial "speaker-avatar.html" (dict
						"slug" .File.BaseFileName
						"title" .Title
						"size" 80
						"class" "avatar"
					) }}
					<div class="name">{{ .Title }}</div>
					{{- if gt $eventCount 0 }}
					<div class="talks">{{ $eventCount }} {{ if eq $eventCount 1 }}talk{{ else }}talks{{ end }}</div>
					{{- end }}
				</a>
			</div>
		{{- end }}
	</div>
</main>
{{ end }}
